
canvas {
  display: block;
  margin: auto;
  width: 90vw;               /* 브라우저 가로의 90% */
  max-width: 960px;  /* 최대 너비 1280px로 제한 */
  aspect-ratio: 16 / 9;      /* 16:9 비율 유지 */
  background: white;   /* 세로 가운데 정렬 */
}



#gameContainer {
  width: 90vw;
  max-width: 960px;
  aspect-ratio: 16 / 9;
  background-image: url('/images/hana.jpg'); /* 이미지 경로 */
  background-size: cover;                  /* 화면에 꽉 차게 */
  background-position: center;             /* 중앙 정렬 */
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* 캔버스는 기존 스타일 유지 */
#gameContainer canvas {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}


/* 로그인 폼 스타일 */
#loginContainer {
  position: absolute;  /* gameContainer 안에서 절대 위치 */
  bottom: 20px;        /* 아래쪽 약간 위 */
  left: 50%;
  transform: translateX(-50%); /* 가로 중앙 정렬 */
  background-color: rgba(255, 255, 255, 0.77); /* 반투명 흰색 배경 */
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 420px;
  z-index: 10; /* 캔버스 위에 나타나도록 */
}

#loginContainer input {
  padding: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  transition: border-color 0.3s;
}

#loginContainer input:focus {
  border-color: #36624e;
}

#loginContainer button {
  padding: 5px;
  font-size: 12px;
  background-color:#36624e;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#loginContainer button:hover {
  background-color: #143e2b;
}
